# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info
tfplan
tfplan-*

# Crash log files
crash.log
crash.*.log

# Variables con valores sensibles
*.auto.tfvars
*_override.tf
*_override.tf.json
override.tf
override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
